appdirs==1.4.3
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==18.2.0
autobahn==18.12.1
Automat==0.7.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.8.24
cffi==1.11.5
channels==2.1.6
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
Cython==0.29.6
daphne==2.2.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.7
django-cors-headers==2.5.0
django-filter==2.0.0
django-rest-framework-redocs==0.0.7
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
drfdocs==0.0.11
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.5
incremental==17.5.0
jsonfield==2.0.2
lxml==4.3.1
Markdown==3.1
mkl-fft==1.0.6
mkl-random==1.0.1
newsapi-python==0.2.3
numpy==1.15.2
olefile==0.46
pandas==0.23.4
Pillow==5.2.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==18.0.0
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
requests==2.17.1
service-identity==17.0.0
six==1.11.0
soupsieve==1.7.3
static3==0.7.0
Twisted==18.7.0
txaio==18.8.1
urllib3==1.21.1
virtualenv==16.0.0
whitenoise==4.1.2
zope.interface==4.5.0
